.container p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.span-text{
    color: #27a590;
    font-size: 25px;
}

.img-left,
.img-right {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  
}

.img-top {
  max-width: 80%;
}

.img-bottom {
  max-width: 60%;
}

.bigger-width{
    width: 90%;
}
.smaller-width {
    width: 60%;
  }
  
  .ignite-you{
    /* Style for "Ignite You" */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .para-2{
    font-size: 15px;
  }

  .para-1{
    font-size: 15px;
  }